.postJobContainer {
  margin-top: 2rem;

  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
}

.postJobBox {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
}
